@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 1140px;
  max-width: 95%;
  margin: 0 auto;
}
a {
  color: inherit;
}
.header_inner {
  display: flex;
  align-items: center;
  padding: 24px 15px;
  justify-content: space-between;
}
.middle_bar {
  display: flex;
}
.logo a {
  color: rgba(0, 0, 0, 0.9);
  font-weight: 900;
  font-size: 38px;
  display: inline-block;
  margin-right: 16px;
}
.logo p {
  font-size: 12px;
}
.middle_bar span {
  display: inline-block;
  width: 100%;
  font-weight: 400;
  font-size: 15px;
}
.middle_bar {
  color: rgba(0, 0, 0, 0.7);
  padding-left: 15px;
}
.middle_bar a i {
  color: #fd5f00;
  font-size: 20px;
}
.middle_bar p {
  font-weight: 700;
  color: #000000;
}
.btn {
  background: #fd5f00;
  border: 1px solid #fd5f00;
  color: #fff;
  font-weight: 400;
  text-align: center;
  padding: 8px 16px;
}
.message {
  padding: 0 15px;
  display: flex;
}
.call {
  padding: 0 15px;
  display: flex;
}
.header_icon {
  display: flex;
  align-items: center;
}
.icon_text {
  padding-left: 15px;
}
.navbar_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background: #0d1128;
  color: #fff;
}
.navbar_inner ul {
  display: flex;
  padding: 22.4px 20px;
}
.navbar_inner ul li a {
  width: 100%;
  padding: 24px 20px;
}
.navbar_inner ul .active {
  color: #fd5f00;
}
.pages .active:hover {
  color: #fff;
}
.navbar_right {
  width: 250px;
  border: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  height: 52px;
  display: flex;
  align-items: center;
  position: relative;
}
.navbar_right input {
  display: block;
  padding: 6px 12px 6px 16px;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: transparent;
}
.navbar_right button {
  padding: 6px 12px;
  position: absolute;
  left: 150px;
  border: none;
  background-color: transparent;
}
.navbar_right button i {
  color: rgba(255, 255, 255, 0.7);
}
.banner {
  background-image: url("https://preview.colorlib.com/theme/fox/images/bg_2.jpg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  z-index: 0;
}
.banner_text {
  width: 40%;
}
.banner_text h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 24px;
}
.banner_text p {
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 16px;
}
.btn_round {
  background: #fd5f00;
  border: 1px solid #fd5f00;
  color: #fff;
  border-radius: 40px;
  display: inline-block;
  padding: 16px 24px;
}
.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(45deg, #0d1128 0%, #fd6100 100%);
  opacity: 0.5;
}
.services {
  display: flex;
}
.single_service {
  background: #fd5f00;
  width: 25%;
  text-align: center;
  color: #fff;
  padding: 48px 24px;
}
.single_service i {
  font-size: 20px;
}
.service_text {
  padding: 8px;
  margin-top: 16px;
}
.service_text h3 {
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 8px;
}
.service_text p {
  margin-bottom: 16px;
}
.blue {
  background: #0d1128;
}
.photo_inner {
  display: flex;
}
.photo_left {
  width: 58.333%;
  padding: 48px 24px 48px 15px;
}
.photo_left h2 {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 32px;
}
.photo p {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}
.circles {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
}
.circle {
  width: 50%;
  height: 150px;
  padding-right: 15px;
  display: flex;
  padding-bottom: 30px;
}
.icon_circle {
  width: 60%;
  height: 60%;
  position: relative;
  background: #fd5f00;
  border-radius: 50%;
}
.icon_circle img {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.circle_text {
  padding-left: 16px;
}
.circle_text h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}
.photo_right {
  width: 41.66%;
  background-image: url("https://preview.colorlib.com/theme/fox/images/about.jpg.webp");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  /* BURA BAX */
}

.video {
  background-image: url("https://preview.colorlib.com/theme/fox/images/about-2.jpg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 47%;
  height: 375px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video a {
  width: 80px;
  height: 80px;
  background: #fff;
  box-shadow: 0px 0px 34px -8px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: relative;
}
.video a i {
  font-size: 30px;
  color: #fd5f00;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.uni_text {
  width: 47%;
  padding: 0 15px 0 48px;
}
.uni_text h2 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 24px;
  color: #fff;
}
.uni_text p {
  margin-bottom: 16px;
  color: rgba(255, 255, 255, 0.9);
}
.university {
  background-image: url("https://preview.colorlib.com/theme/fox/images/bg_3.jpg.webp");
  background-position: 50% -44.2px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 786px;
  padding: 112px 0;
  position: relative;
  z-index: 0;
}
.uni_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 48px;
  padding-bottom: 8px;
}
.uni_count {
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.single_count {
  padding: 0 15px;
  width: 25%;
}
.single_count strong {
  font-weight: 600;
  font-size: 40px;
  color: #fff;
  display: block;
}
.single_count p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
}
.courses {
  padding: 112px 0;
}
.course_text {
  text-align: center;
}
.course_text h2 {
  margin-bottom: 24px;
  font-size: 44px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
}
.course_text p {
  font-size: 16px;
  font-weight: 400;

  color: #666666;
  margin-bottom: 16px;
}
.course_items {
  margin-top: 48px;
  display: flex;
}
.course_item {
  width: 25%;
  margin-bottom: 30px;
  padding: 0 15px;
}
.item_image img {
  width: 100%;
}
.item_text {
  padding-top: 24px;
}
.item_text h3 {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 24px;
}
.item_text p {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  margin-bottom: 16px;
}
.course_icons {
  font-size: 12px;
  font-weight: 500;
}
.course_icons i {
  color: #fd5f00;
  margin-right: 8px;
}
.course_icons span {
  display: inline-block;
  margin-right: 10px;
}
.teachers {
  padding: 112px 0;
}
.teacher_text {
  text-align: center;
  margin-bottom: 48px;
  padding-bottom: 8px;
}
.teacher_text h2 {
  font-size: 44px;
  font-weight: 500;
  margin-bottom: 24px;
}
.teacher_text p {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}
.teacher_items {
  display: flex;
}
.teacher_image {
  background-image: url("https://preview.colorlib.com/theme/fox/images/teacher-1.jpg.webp");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  display: block;
  overflow: hidden;
  transition: 0.4s;
}
.teacher_item {
  width: 25%;
  padding: 0 15px;
  overflow: hidden;
}
.teacher_item:hover .teacher_image {
  transform: scale(1.1);
}
.item_text {
  padding-top: 16px;
}
.item_text h3 {
  font-size: 23px;
  font-weight: 600;
}
.item_text p {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}
.item_text .top {
  font-size: 12px;
  font-weight: 500;
  color: #fd5f00;
  margin-bottom: 8px;
}
.teacher_item:hover .item_text h3 {
  color: #fd5f00;
}
.request {
  background-image: url("https://preview.colorlib.com/theme/fox/images/bg_5.jpg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 635px;
  position: relative;
  z-index: 0;
  color: #fff;
  display: flex;
  align-items: center;
}
.request_form {
  display: flex;
  justify-content: flex-end;
}
.request_right {
  max-width: 50%;
  padding: 48px;
}
.request_right h2 {
  margin-bottom: 24px;
  font-size: 40px;
  font-weight: 600;
}
.request_right p {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
}
form {
  margin-top: 48px;
  color: white;
  text-align: center;
}
form input {
  padding: 6px 0;
  border: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  font-size: 16px;
  height: 58px;
  color: inherit;
  width: 35%;
  display: block;
  margin-bottom: 16px;
  margin-left: 24px;
}
form div {
  display: flex;
}
form textarea {
  padding: 6px 0;
  border: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  height: 58px;
  width: 35%;
  margin-bottom: 16px;
  margin-left: 24px;
}
.blog {
  padding: 112px 0;
}
.blog_text {
  text-align: center;
}
.blog_text h2 {
  font-size: 44px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 24px;
}
.blog_text p {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}
.blog_items {
  margin-top: 48px;
  display: flex;
}
.blog_item {
  width: calc(100% / 3);
  padding: 0 15px;
}
.blog_image {
  background-image: url("https://preview.colorlib.com/theme/fox/images/image_1.jpg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 275px;
  position: relative;
}
.meta_data {
  background: #5d50c6;
  padding: 8px;
  width: 44px;
  text-align: center;
  position: absolute;
  bottom: 0;
}
.meta_data p {
  font-weight: 700;
  font-size: 20px;
  color: #fff;
}
.year,
.month {
  font-size: 13px !important;
}
.blog {
  background-color: #fafafa;
}
.blog_data {
  padding: 24px;
  border-radius: 2px;
  background-color: #fff;
}
.blog_data h3 {
  font-size: 20px;
  margin-bottom: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
}
.blog_data p {
  margin-bottom: 16px;
  color: #666666;
  font-size: 16px;
}
.data_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.data_bottom .btn_round {
  padding: 4px 8px !important;
}
.data_bottom .btn_round i {
  margin-left: 8px;
}
.data_bottom .admin {
  color: #fd5f00;
}
.data_bottom .comment {
  color: #666666;
}
.student {
  padding: 112px;
}
.student_text {
  width: 70%;
  text-align: center;
}
.student_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.student_text h2 {
  font-size: 44px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 24px;
}
.student_text p {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}
.slider {
  width: 100%;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  margin-top: 48px;
}
.slider .text {
  color: rgba(0, 0, 0, 0.8);
}
.slider .name {
  color: black;
}
.slider .position {
  color: #fd5f00;
}
.slider_image {
  background-image: url("https://preview.colorlib.com/theme/fox/images/teacher-4.jpg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.slider_box {
  /* margin: 0 auto; */
  width: 50%;
  display: flex;
  justify-content: center;
}
.slider_text {
  margin-left: 20px;
}
.gallery {
  display: flex;
}
.gallery .single {
  width: 25%;
  background-image: url("https://preview.colorlib.com/theme/fox/images/course-1.jpg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery_icon {
  width: 50px;
  height: 50px;
  background-color: #fd5f00;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  opacity: 0;
}
.gallery_icon i {
  color: white;
}
.gallery .single:hover .gallery_icon {
  opacity: 1;
}
.first_blog_img{
  background-image: url("https://preview.colorlib.com/theme/fox/images/image_1.jpg.webp");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height:80px;
width: 80px;
display:block;
margin-right: 8px;
}
footer .first_blog{
  display: flex;
  margin-bottom: 24px;
}
.footer_inner{
  display: flex;
}
footer .single{
  width: 25%;
  padding: 0 15px;
}
.subscribe input{
  display: block;
}
footer{
  background: #232323;
  padding: 84px 0;
}
footer h2{
  color: #fff;
  margin-bottom: 40px;
  font-size: 22px;
  font-weight: 500;
}
.footer_icons{
  display: flex;
  color: white;
}
.footer_icons a{
  height: 40px;
  width: 40px;
  display: block;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right:10px;

}
.single .left i{
  width: 40px;
  font-size: 18px;
  color: white;
  display: inline-block;
  margin-right: 5px;
}
.single .left span{
  font-size: 14px;
  color: white;
  display: inline-block;
  margin-bottom: 15px;
}
footer h3{
  font-size: 16px;
  font-weight: 400;
  color: white;
}
.text .info{
  color: #666666;
}
.text .info .admin{
  margin-right: 5px;
}
.pages a{
  color:#666666;
  display: inline-block;
  padding-bottom: 5px;
}
.pages a:hover{
  color: white;
}
.pages i{
  display: inline-block;
  margin-right: 5px;
}
  

.first_blog .text h3:hover{
  color: #fd5f00;
}
.subscribe{
  margin-bottom: 48px;
}
.subscribe .email{
  border-radius: 2px;
    width: 100%;
    background: rgba(255, 255, 255, 0.1) !important;
    border: none;
    color: rgba(255, 255, 255, 0.7) !important;
    font-size: 16px;
    padding: 6px 12px;
    margin-bottom: 8px;
    text-align: center;
}
.subscribe .submit{
  color: #fff !important;
    font-size: 16px;
    background: #5d50c6;
    width: 100%;
    border-radius: 2px;
    padding: 6px 12px;
}
.subscribe .submit:hover{
  background-color: #fd5f00;
}
.btn:hover{
  border: 1px solid #fd5f00;
  background: transparent;
  color: #fd5f00;
}
.btn_round:hover{
  border: 1px solid #fd5f00;
  background: transparent;
  color: #fd5f00;
}
.footer_bottom{
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  margin-top: 50px;
} 